<%- include("partials/header")%>
<style >
	body{

		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color:#5CB85C;
		 background-image: url("https://wallpapercave.com/wp/wp5820973.jpg");



	 }
</style>

<h1>Carbon Footprint calculator</h1>
<h5><%=title%> carbon footprint </h5>

<form action="/MotorBike" method="post">
	<label for="bike">Select the motorbike type: </label>
	<select name="bike" id="bike">
		<option value="">--Please choose an option--</option>

		<%  if(sel==="SmallMotorBike"){ %>
		<option select selected value="MediumDieselCar">SmallMotorBike</option>
		<%}  if(sel==="MediumMotorBike"){ %>
		<option select selected value="MediumDieselCar">MediumMotorBike</option>
		<%}  if(sel==="LargeMotorBike"){ %>
		<option select selected value="MediumDieselCar">LargeMotorBike</option>

			 <%}%>

		<option value="SmallMotorBike">SmallMotorBike</option>
		<option value="MediumMotorBike">MediumMotorBike</option>
		<option value="LargeMotorBike">LargeMotorBike</option>
	</select>
	<br>
	<label for="distance">Enter the distance you travelled in Kms: </label>
	<input type="number" name="distance" min=0 value="<%=dist%>">
	<br>
  <div class="np-clear nextprev">
  <button type="submit" name="button" class="np-clea">Calculate</button>
  </div>
</form>
<hr>
<h2 style="color:white;">Total Motorbike Footprint = <%=carbon%> metric tons of CO2e.</h2>
<div class="np-clear nextprev">
<a class="np-left ws-btn" href="/Flight">❮ Previous</a>
<a class="np-right ws-btn" href="/PublicTransit">Next ❯</a>
<a class="np-clea" id="anchor" href="/MotorBikeClear">Clear 🗘</a>
</div>
<%- include("partials/footer")%>
