<%- include("partials/header")%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<canvas id="myChart" style="width:100%;max-width:500px;height:40%;"></canvas>

<script>
	var xValues = ["Global Footprint", "country Footprint", "Your Footprint"];
	var yValues = [10, 10, <%=pie%>];
var barColors = [

	"#00ffab",
	"#4fb056",
	"#1ef10e"

];

new Chart("myChart", {
	type: "pie",
	data: {
		labels: xValues,
		datasets: [{
			backgroundColor: barColors,
			data: yValues
		}]
	},
	options: {
		title: {
			display: true,
			text:  "Cars carbon footprint analysis."
		}
	}
});
</script>
<style>
	body{

		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;

		background-color:#5CB85C;
		 background-image: url("https://wallpapercave.com/wp/wp5820973.jpg");



	 }

</style>



<h1>Carbon Footprint calculator</h1>
<h5><%=title%> carbon footprint </h5>
<form id="cars" action="/CarTravel" method="post" class="form">
	<label for="car">Select the car type: </label>
	<select name="cars" id="car">
		<option value="">--Please choose an option--</option>

<% if(sel==="SmallDieselCar"){ %>
<option select selected value="SmallDieselCar">SmallDieselCar</option>
<%}  if(sel==="MediumDieselCar"){ %>
<option select selected value="MediumDieselCar">MediumDieselCar</option>
<%}  if(sel==="LargeDieselCar"){ %>
<option select selected value="LargeDieselCar">LargeDieselCar</option>
<%}  if(sel==="MediumHybridCar"){ %>
<option select selected value="MediumHybridCar">MediumHybridCar</option>
<%}  if(sel==="LargeHybridCar"){ %>
<option select selected value="LargeHybridCar">LargeHybridCar</option>
<%}  if(sel==="MediumLPGCar"){ %>
<option select selected value="MediumLPGCar">MediumLPGCar</option>
<%}  if(sel==="LargeLPGCar"){ %>
<option select selected value="LargeLPGCar">LargeLPGCar</option>
<%}  if(sel==="SmallPetrolVan"){ %>
<option select selected value="SmallPetrolVan">SmallPetrolVan</option>
<%}  if(sel==="MediumPetrolCar"){ %>
<option select selected value="MediumDieselCar">MediumPetrolCar</option>
<%}  if(sel==="LargePetrolCar"){ %>
<option select selected value="MediumDieselCar">LargePetrolCar</option>
<%}  if(sel==="MediumCNGCar"){ %>
<option select selected value="MediumDieselCar">MediumCNGCar</option>
<%}  if(sel==="LargeCNGCar"){ %>
<option select selected value="MediumDieselCar">LargeCNGCar</option>

	 <%}%>



<option  value="SmallDieselCar">SmallDieselCar</option>
        <option  value="MediumDieselCar">MediumDieselCar</option>
        <option value="LargeDieselCar">LargeDieselCar</option>
        <option value="MediumHybridCar">MediumHybridCar</option>
        <option value="LargeHybridCar">LargeHybridCar</option>
        <option value="MediumLPGCar">MediumLPGCar</option>
        <option value="LargeLPGCar">LargeLPGCar</option>
        <option value="SmallPetrolVan">SmallPetrolVan</option>
    <option value="MediumPetrolCar">MediumPetrolCar</option>
    <option value="LargePetrolCar">LargePetrolCar</option>
    <option value="MediumCNGCar">MediumCNGCar</option>
    <option value="LargeCNGCar">LargeCNGCar</option>

    </select>
      <br>
      <label class="card-text" for="distance" >Enter the distance you travelled in Kms: </label>
      <input id="dist" type="number" name="distance" min=0 max=10000 placeholder="0" value="<%=dist%>">
		<div class="np-clear nextprev">
			<button type="submit" name="button" class="np-clea">Calculate</button>
		</div>
</form>
<hr>
<p style="color:black;"><%=statement%></p>

<h2 style="color:white;">Total Car Footprint = <%=carbon%> metric tons of CO2e.</h2>
<div class="np-clear nextprev">
	<a class="np-right ws-btn" href="/Flight">Next ❯</a>
	<a id="anchor" class="np-first" href="/CarTravelClear">Clear 🗘</a>
</div>
<%- include("partials/footer")%>
