<%- include("partials/header")%>
<style >
	body{

		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color:#5CB85C;
		 background-image: url("https://wallpapercave.com/wp/wp5820973.jpg");



	 }
</style>

<h1>Carbon Footprint calculator</h1>
<h5><%=title%> carbon footprint </h5>
<form id="cars" action="/CarTravel" method="post" class="form">
	<label for="car">Select the car type: </label>
	<select name="cars" id="car">
		<option value="">--Please choose an option--</option>

<option  value="SmallDieselCar">SmallDieselCar</option>
        <option  value="MediumDieselCar">MediumDieselCar</option>
        <option value="LargeDieselCar">LargeDieselCar</option>
        <option value="MediumHybridCar">MediumHybridCar</option>
        <option value="LargeHybridCar">LargeHybridCar</option>
        <option value="MediumLPGCar">MediumLPGCar</option>
        <option value="LargeLPGCar">LargeLPGCar</option>
        <option value="SmallPetrolVan">SmallPetrolVan</option>
    <option value="MediumPetrolCar">MediumPetrolCar</option>
    <option value="LargePetrolCar">LargePetrolCar</option>
    <option value="MediumCNGCar">MediumCNGCar</option>
    <option value="LargeCNGCar">LargeCNGCar</option>

    </select>
      <br>
      <label class="card-text" for="distance" >Enter the distance you travelled in Kms: </label>
      <input id="dist" type="number" name="distance" min=0 placeholder="0" value="<%=dist%>">
		<div class="np-clear nextprev">
			<button type="submit" name="button" class="np-clea">Calculate</button>
		</div>
</form>
<br>

<hr>
<h2 style="color:white;">Total Car Footprint = <%=carbon%> metric tons of CO2e.</h2>
<div class="np-clear nextprev">
	<a class="np-right ws-btn" href="/Flight">Next ❯</a>
	<a id="anchor" class="np-first" href="/CarTravelClear">Clear 🗘</a>
</div>
<%- include("partials/footer")%>
