<%- include("partials/header")%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<canvas id="myChart" style="width:100%;max-width:500px;height:40%;"></canvas>

<script>
	var xValues = ["Global Footprint", "country Footprint", "Your Footprint"];
	var yValues = [10, 10, <%=pie%>];
var barColors = [

	"#00ffab",
	"#4fb056",
	"#1ef10e"

];

new Chart("myChart", {
	type: "pie",
	data: {
		labels: xValues,
		datasets: [{
			backgroundColor: barColors,
			data: yValues
		}]
	},
	options: {
		title: {
			display: true,
			text:  "Flight carbon footprint analysis."
		}
	}
});
</script>
<style >
	body{

		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color:#5CB85C;
		 background-image: url("https://wallpapercave.com/wp/wp5820973.jpg");



	 }
</style>

<h1>Carbon Footprint calculator</h1>

<h5><%=title%> carbon footprint </h5>

<form action="/Flight" method="post">
	<div name="ways">
		<label for="one">One way flight</label>
		<input type="radio" name="radioButtons" id="one" value="one" checked=checked>
		<label for="two">Two way flight</label>
		<input type="radio" name="radioButtons" id="two" value="two">

	</div>

	<label for="vehical">Select the Flight type: </label>
	<select name="vehical" id="vehical">
		<option value="">--Please choose an option--</option>

<% if(sel==="DomesticFlight"){ %>
<option select selected value="DomesticFlight">DomesticFlight</option>
<%}  if(sel==="ShortEconomyClassFlight"){ %>
<option select selected value="ShortEconomyClassFlight">ShortEconomyClassFlight</option>
<%}  if(sel==="ShortBusinessClassFlight"){ %>
<option select selected value="ShortBusinessClassFlight">ShortBusinessClassFlight</option>
<%}  if(sel==="LongEconomyClassFlight"){ %>
<option select selected value="LongEconomyClassFlight">LongEconomyClassFlight</option>
<%}  if(sel==="LongPremiumClassFlight"){ %>
<option select selected value="LongPremiumClassFlight">LongPremiumClassFlight</option>
<%}  if(sel==="LongBusinessClassFlight"){ %>
<option select selected value="LongBusinessClassFlight">LongBusinessClassFlight</option>
<%}  if(sel==="LongFirstClassFlight"){ %>
<option select selected value="LongFirstClassFlight">LongFirstClassFlight</option>


	 <%}%>

		<option value="DomesticFlight">DomesticFlight</option>
		<option value="ShortEconomyClassFlight">ShortEconomyClassFlight</option>
		<option value="ShortBusinessClassFlight">ShortBusinessClassFlight</option>
		<option value="LongEconomyClassFlight">LongEconomyClassFlight</option>
		<option value="LongPremiumClassFlight">LongPremiumClassFlight</option>
		<option value="LongBusinessClassFlight">LongBusinessClassFlight</option>
		<option value="LongFirstClassFlight">LongFirstClassFlight</option>
	</select>
	<br>
	<label for="distance">Enter the distance you travelled in Kms: </label>
	<input type="number" name="distance" min=0 max=10000 placeholder="0" value="<%=dist%>">
	<br>

  <div class="np-clear nextprev">
  <button type="submit" name="button" class="np-clea">Calculate</button>
  </div>
  <hr>
</form>
<br>
<p style="color:black;"><%=statement%></p>
<h2 style="color:white;">Total Flights Footprint = <%=carbon%> metric tons of CO2e.</h2>
<div class="np-clear nextprev">
<a class="np-left " href="/CarTravel">❮ Previous</a>
<a class="np-right" href="/MotorBike">Next ❯</a>
<a class="np-clea" href="/FlightClear">Clear 🗘</a>
</div>
<%- include("partials/footer")%>
