<%- include("partials/header")%>
<style >
	body{

		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color:#5CB85C;
		 background-image: url("https://wallpapercave.com/wp/wp5820973.jpg");



	 }
</style>

<h1>Carbon Footprint calculator</h1>

<h5><%=title%> carbon footprint </h5>

<form action="/Flight" method="post">
	<div name="ways">
		<label for="one">One way flight</label>
		<input type="radio" name="a" id="one" value="one" checked=checked>
		<label for="two">Two way flight</label>
		<input type="radio" name="a" id="two" value="two">

	</div>

	<label for="vehical">Select the Flight type: </label>
	<select name="vehical" id="vehical">
		<option value="">--Please choose an option--</option>
		<option value="DomesticFlight">DomesticFlight</option>
		<option value="ShortEconomyClassFlight">ShortEconomyClassFlight</option>
		<option value="ShortBusinessClassFlight">ShortBusinessClassFlight</option>
		<option value="LongEconomyClassFlight">LongEconomyClassFlight</option>
		<option value="LongPremiumClassFlight">LongPremiumClassFlight</option>
		<option value="LongBusinessClassFlight">LongBusinessClassFlight</option>
		<option value="LongFirstClassFlight">LongFirstClassFlight</option>
	</select>
	<br>
	<label for="distance">Enter the distance you travelled in Kms: </label>
	<input type="number" name="distance" min=0 value="<%=dist%>">
	<br>

  <div class="np-clear nextprev">
  <button type="submit" name="button" class="np-clea">Calculate</button>
  </div>
  <hr>
</form>
<h2 style="color:white;">Total Flights Footprint = <%=carbon%> metric tons of CO2e.</h2>
<div class="np-clear nextprev">
<a class="np-left " href="/CarTravel">❮ Previous</a>
<a class="np-right" href="/MotorBike">Next ❯</a>
<a class="np-clea" href="/FlightClear">Clear 🗘</a>
</div>
<%- include("partials/footer")%>
