<%- include("partials/header")%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<canvas id="myChart" style="width:100%;max-width:500px;height:40%;"></canvas>

<script>
	var xValues = ["Global Footprint", "country Footprint", "Your Footprint"];
	var yValues = [10, 10, <%=pie%>];
var barColors = [

	"#00ffab",
	"#4fb056",
	"#1ef10e"

];

new Chart("myChart", {
	type: "pie",
	data: {
		labels: xValues,
		datasets: [{
			backgroundColor: barColors,
			data: yValues
		}]
	},
	options: {
		title: {
			display: true,
			text:  "Public Transit carbon footprint analysis."
		}
	}
});
</script>
<style >
	body{

		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color:#5CB85C;
		 background-image: url("https://wallpapercave.com/wp/wp5820973.jpg");



	 }
</style>


<h1>Carbon Footprint calculator</h1>
<h5><%=title%> carbon footprint </h5>

<form id="public" action="/PublicTransit" method="post" class="form">
	<label for="car">Select the type of transportation : </label>
	<select name="public" id="public">
		<option value="">--Please choose an option--</option>


		<% if(sel==="Taxi"){ %>
		<option select selected value="SmallDieselCar">Taxi</option>
		<%}  if(sel==="ClassicBus"){ %>
		<option select selected value="MediumDieselCar">ClassicBus</option>
		<%}  if(sel==="Coach"){ %>
		<option select selected value="Coach">Coach</option>
		<%}  if(sel==="NationalTrain"){ %>
		<option select selected value="MediumHybridCar">NationalTrain</option>
		<%}  if(sel==="LightRail"){ %>
		<option select selected value="LargeHybridCar">LightRail</option>
		<%}  if(sel==="EcoBus"){ %>
		<option select selected value="MediumLPGCar">EcoBus</option>
		<%}  if(sel==="FerryOnFoot"){ %>
		<option select selected value="LargeLPGCar">FerryOnFoot</option>


			 <%}%>


		<option value="Taxi">Taxi</option>
		<option value="ClassicBus">ClassicBus</option>
		<option value="Coach">Coach</option>
		<option value="NationalTrain">NationalTrain</option>
		<option value="LightRail">LightRail</option>
		<option value="EcoBus">EcoBus</option>
		<option value="FerryOnFoot">FerryOnFoot</option>
	</select>
	<br>
	<label for="distance">Enter the distance you travelled in Kms: </label>
	<input id="dist" type="number" name="distance" min=0 max=10000 placeholder="0" value="<%=dist%>">
	<br>
  <div class="np-clear nextprev">
  <button type="submit" name="button" class="np-clea">Calculate</button>
  </div>
</form>

<hr>

<p style="color:black;"><%=statement%></p>
<h2 style="color:white;">Total Public Transit Footprint = <%=carbon%> metric tons of CO2e.</h2>

<div class="np-clear nextprev">
<a class="np-left " href="/MotorBike">❮ Previous</a>
<a id="anchor" class="np-last" href="/publicTransitClear">Clear 🗘</a>
</div>
<%- include("partials/footer")%>
